blinker
certifi
charset-normalizer
click
colorama
Flask
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
PyAudio
python-dateutil
pytz
requests
six
SpeechRecognition
tzdata
urllib3
Werkzeug
zipp